/************************ROOT***********************************************************/
.navBar {
    height: 60px;
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;

}
/********************FIRST-CHILD************************************************************************/
.navBar_Box1-Empty {
    height: 100%;
    width: 33%;
}
/*******************SECOND-CHILD*********************************************************************/
.navBar_Box2 {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.navBar_Box2-BackBTN{

    background: url(/left_icon.svg);
    background-repeat: no-repeat;
}
.navBar_Box2-FrontBTN{
    background: url(/rigth_icon.svg);
    background-repeat: no-repeat;
    color: #eee;
}
.navBar_Box2-BackBTN,
.navBar_Box2-FrontBTN {
    cursor: pointer;
    border-radius: 50%;
    background-color: #e58f05;
    width: 25px;
    height: 25px;
    background-size: cover;
    border: none;
}
.navBar_Box2-Number {
    font-size: 26px;
}
/********************THIRD-CHILD********************************************************************/
.navBar_Box3 {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0px;
}
.navBar_Box3-Label{
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
}
.navBar_Box3-Select{
    cursor: pointer;
    padding: 4px;
    margin-left: 4px;
    margin-right: 10px;
    border-radius: 16px;
    width: 8rem;
    height: 2rem;
}
/*************************LAST-CHILD********************************************************************/
.navBar_Box4 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navBar_Box4-BTN_GRID{
    background: url(/grid-layout.svg);
    background-position: center;
}
.navBar_Box4-BTN_LIST{
    background: url(/list-layout.svg);
}
.navBar_Box4-BTN_GRID,
.navBar_Box4-BTN_LIST{
    font-size: 1em;
    border-radius: 10px;
    margin: 0 5px;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 35px;
    border: none;
    cursor: pointer;
}
/****************************************************************************************************/
