@import url(_cardComponent.css);


.mainContaeiner{
     padding:1% 5% 1% 5%;
     height:100%;
      display:grid;
grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      grid-template-rows: auto;
  gap: 1%;
  
  background-color:#212529;
  color:#fefefe;

}

.cardComponent{
    background-color:#eeeeee44;
     padding-top:10px;
     display:flex;
     flex-direction:column;
     align-items:center;
     text-align:center;
     text-wrap:pretty;
     color:#eee;
     height:auto;
      border-radius:16px;
}