/**************ROOT*****************************************/
.mainContainer {
      padding: 1% 5% 1% 5%;
      background-color: #212529;
      color: #fefefe;
      gap: 1.2%;
      box-sizing: border-box;
}

/*************CONDICIONAL-CLASSNAME***********************************/
.mainContainer.grid {
      display: grid;
      grid-template-columns: repeat(5, minmax(250px, 1fr));
      grid-template-rows: auto;
      gap: 10px;
}

.mainContainer.list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-left: 6%;
      padding-right: 6%;
}



/************************MEIDA-QUERYS*************************************/

@media (max-width:1080px) {
      .mainContainer.grid {
            grid-template-columns: repeat(3, minmax(0, 1fr));
      }

      .mainContainer.grid .cardPoster {
            width: 100%;
            max-width: 180px;
      }
}

@media (max-width: 680px) {
      .mainContainer.grid {
            grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      .mainContainer.grid .cardPoster {
            width: 100%;
            max-width: 180px;
      }
}

@media (max-width: 240px) {
      .mainContainer.list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-left: 0%;
            padding-right: 0%;
      }
}